*{
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: whitesmoke;
}

@keyframes utb{
    0%{
        opacity: 0;
        transform: translateY(-50px);
        transition: ease;
    }
    100%{
        transform: translateY(o);
        transition: ease;
    }
}


body{
    overflow-x: hidden;
    background-color: whitesmoke;
    color:black;
    height: 100vh;
}
.nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 30px;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: utb 2s;
}
.nav h1{
    font-weight: 700;
    font-size: 2em;
    width: 40%;
    margin: 20px;
}
.navigation{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    transform: translateX(-90px);
}
.navigation li{
    list-style: none;
    margin: 0%;
}
.navigation li a{
    margin: 0%;
    text-decoration: none;
    padding: 6px 15px ;
    border-radius: 20px;
    color: black;
}
.navigation li a:hover, .navigation li :active{
    background-color:crimson ;
    color: white;

}
table {
    margin-top: 300px;
    margin-left: 100px;
    width: 85%;
    animation: utb 1s ease-out;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
th {
    background-color: whitesmoke;
  }